doctype html
html
  head
    title whdb dev
    link(rel='Stylesheet', type='text/css', href='styles/global.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='scripts/main.js')
  body
    #headerRow
      h1#H1.headers Loads|Door|Quad
      h1#H2.headers Loads|Door|Quad
      h1#H3.headers Loads|Door|Quad
      h1#H4.headers Loads|Door|Quad
      h1#H5.headers Loads|Door|Quad
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb1.tbleft.red(type='text', name='loads')
        input.tb1.tbcenter.red(type='text', name='door')
        input.tb1.tbcenter.red(type='text', name='quad')
        span(style='display: inline-block; background: #6af; vertical-align: top;')
            input#btn1.btn3(type='button', value='Ready')
            input#sb1.btn(type='submit', value='Submit')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb2.tbleft.red(type='text', name='loads')
        input.tb2.tbcenter.red(type='text', name='door')
        input.tb2.tbcenter.red(type='text', name='quad')
        span(style='display: inline-block; background: #6af; vertical-align: top;')
            input#btn2.btn3(type='button', value='Ready')
            input#sb1.btn(type='submit', value='Submit')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb3.tbleft.red(type='text', name='loads')
        input.tb3.tbcenter.red(type='text', name='door')
        input.tb3.tbcenter.red(type='text', name='quad')
        span(style='display: inline-block; background: #6af; vertical-align: top;')
            input#btn3.btn3(type='button', value='Ready')
            input#sb1.btn(type='submit', value='Submit')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb4.tbleft.red(type='text', name='loads')
        input.tb4.tbcenter.red(type='text', name='door')
        input.tb4.tbcenter.red(type='text', name='quad')
        span(style='display: inline-block; background: #6af; vertical-align: top;')
            input#btn4.btn3(type='button', value='Ready')
            input#sb1.btn(type='submit', value='Submit')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb5.tbleft.red(type='text', name='loads')
        input.tb5.tbcenter.red(type='text', name='door')
        input.tb5.tbcenter.red(type='text', name='quad')
        span(style='display: inline-block; background: #6af; vertical-align: top;')
            input#btn5.btn3(type='button', value='Ready')
            input#sb1.btn(type='submit', value='Submit')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb6.tbleft.red(type='text', name='loads')
        input.tb6.tbcenter.red(type='text', name='door')
        input.tb6.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn6.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb7.tbleft.red(type='text', name='loads')
        input.tb7.tbcenter.red(type='text', name='door')
        input.tb7.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn7.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb8.tbleft.red(type='text', name='loads')
        input.tb8.tbcenter.red(type='text', name='door')
        input.tb8.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn8.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb9.tbleft.red(type='text', name='loads')
        input.tb9.tbcenter.red(type='text', name='door')
        input.tb9.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn9.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb10.tbleft.red(type='text', name='loads')
        input.tb10.tbcenter.red(type='text', name='door')
        input.tb10.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn10.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb11.tbleft.red(type='text', name='loads')
        input.tb11.tbcenter.red(type='text', name='door')
        input.tb11.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn11.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb12.tbleft.red(type='text', name='loads')
        input.tb12.tbcenter.red(type='text', name='door')
        input.tb12.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn12.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb13.tbleft.red(type='text', name='loads')
        input.tb13.tbcenter.red(type='text', name='door')
        input.tb13.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn13.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb14.tbleft.red(type='text', name='loads')
        input.tb14.tbcenter.red(type='text', name='door')
        input.tb14.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn14.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb15.tbleft.red(type='text', name='loads')
        input.tb15.tbcenter.red(type='text', name='door')
        input.tb15.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn15.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb16.tbleft.red(type='text', name='loads')
        input.tb16.tbcenter.red(type='text', name='door')
        input.tb16.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn16.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb17.tbleft.red(type='text', name='loads')
        input.tb17.tbcenter.red(type='text', name='door')
        input.tb17.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn17.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb18.tbleft.red(type='text', name='loads')
        input.tb18.tbcenter.red(type='text', name='door')
        input.tb18.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn18.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb19.tbleft.red(type='text', name='loads')
        input.tb19.tbcenter.red(type='text', name='door')
        input.tb19.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn19.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb20.tbleft.red(type='text', name='loads')
        input.tb20.tbcenter.red(type='text', name='door')
        input.tb20.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn20.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb21.tbleft.red(type='text', name='loads')
        input.tb21.tbcenter.red(type='text', name='door')
        input.tb21.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn21.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb22.tbleft.red(type='text', name='loads')
        input.tb22.tbcenter.red(type='text', name='door')
        input.tb22.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn22.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb23.tbleft.red(type='text', name='loads')
        input.tb23.tbcenter.red(type='text', name='door')
        input.tb23.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn23.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb24.tbleft.red(type='text', name='loads')
        input.tb24.tbcenter.red(type='text', name='door')
        input.tb24.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn24.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb25.tbleft.red(type='text', name='loads')
        input.tb25.tbcenter.red(type='text', name='door')
        input.tb25.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn25.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb26.tbleft.red(type='text', name='loads')
        input.tb26.tbcenter.red(type='text', name='door')
        input.tb26.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn26.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb27.tbleft.red(type='text', name='loads')
        input.tb27.tbcenter.red(type='text', name='door')
        input.tb27.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn27.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb28.tbleft.red(type='text', name='loads')
        input.tb28.tbcenter.red(type='text', name='door')
        input.tb28.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn28.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb29.tbleft.red(type='text', name='loads')
        input.tb29.tbcenter.red(type='text', name='door')
        input.tb29.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn29.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb30.tbleft.red(type='text', name='loads')
        input.tb30.tbcenter.red(type='text', name='door')
        input.tb30.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn30.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb31.tbleft.red(type='text', name='loads')
        input.tb31.tbcenter.red(type='text', name='door')
        input.tb31.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn31.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb32.tbleft.red(type='text', name='loads')
        input.tb32.tbcenter.red(type='text', name='door')
        input.tb32.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn32.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb33.tbleft.red(type='text', name='loads')
        input.tb33.tbcenter.red(type='text', name='door')
        input.tb33.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn33.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb34.tbleft.red(type='text', name='loads')
        input.tb34.tbcenter.red(type='text', name='door')
        input.tb34.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn34.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb35.tbleft.red(type='text', name='loads')
        input.tb35.tbcenter.red(type='text', name='door')
        input.tb35.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn35.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb36.tbleft.red(type='text', name='loads')
        input.tb36.tbcenter.red(type='text', name='door')
        input.tb36.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn36.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb37.tbleft.red(type='text', name='loads')
        input.tb37.tbcenter.red(type='text', name='door')
        input.tb37.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn37.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb38.tbleft.red(type='text', name='loads')
        input.tb38.tbcenter.red(type='text', name='door')
        input.tb38.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn38.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb39.tbleft.red(type='text', name='loads')
        input.tb39.tbcenter.red(type='text', name='door')
        input.tb39.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn39.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb40.tbleft.red(type='text', name='loads')
        input.tb40.tbcenter.red(type='text', name='door')
        input.tb40.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn40.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb41.tbleft.red(type='text', name='loads')
        input.tb41.tbcenter.red(type='text', name='door')
        input.tb41.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn41.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb42.tbleft.red(type='text', name='loads')
        input.tb42.tbcenter.red(type='text', name='door')
        input.tb42.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn42.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb43.tbleft.red(type='text', name='loads')
        input.tb43.tbcenter.red(type='text', name='door')
        input.tb43.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn43.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb44.tbleft.red(type='text', name='loads')
        input.tb44.tbcenter.red(type='text', name='door')
        input.tb44.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn44.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb45.tbleft.red(type='text', name='loads')
        input.tb45.tbcenter.red(type='text', name='door')
        input.tb45.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn45.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb46.tbleft.red(type='text', name='loads')
        input.tb46.tbcenter.red(type='text', name='door')
        input.tb46.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn46.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb47.tbleft.red(type='text', name='loads')
        input.tb47.tbcenter.red(type='text', name='door')
        input.tb47.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn47.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb48.tbleft.red(type='text', name='loads')
        input.tb48.tbcenter.red(type='text', name='door')
        input.tb48.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn48.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb49.tbleft.red(type='text', name='loads')
        input.tb49.tbcenter.red(type='text', name='door')
        input.tb49.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn49.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb50.tbleft.red(type='text', name='loads')
        input.tb50.tbcenter.red(type='text', name='door')
        input.tb50.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn50.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb51.tbleft.red(type='text', name='loads')
        input.tb51.tbcenter.red(type='text', name='door')
        input.tb51.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn51.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb52.tbleft.red(type='text', name='loads')
        input.tb52.tbcenter.red(type='text', name='door')
        input.tb52.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn52.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb53.tbleft.red(type='text', name='loads')
        input.tb53.tbcenter.red(type='text', name='door')
        input.tb53.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn53.btn3(type='button', value='Ready')
    .textboxs
      form.leftform(action='/write', method='post')
        input.tb54.tbleft.red(type='text', name='loads')
        input.tb54.tbcenter.red(type='text', name='door')
        input.tb54.tbcenter.red(type='text', name='quad')
        input#sb1.btn(type='submit', value='Submit')
        input#btn54.btn3(type='button', value='Ready')
    form(action='/get', method='post', name='getForm')
      input#sb2.btn2(type='submit', value='Pull')    
    input#reset.btn2(type='button', value='Reset')
//    form(action='/get', method='post', name='getForm')
//      input#sb2.btn2(type='submit', value='Pull')
//    #dv1
