doctype

html
    head
        title Warehouse Page
        link(rel='Stylesheet', type='text/css', href='styles/warehouse.css')
    body
        .wrapper
            div  
                h1 352
                p 02 04
            div 
                h1 353 
                p 04 04
            div 
                h1 354 
                p 06 04
            div 
                h1 355 
                p 08 04
            div 
                h1 356 
                p 10 04
            div 
                h1 357 
                p 01 01
            div 
                h1 358 
                p 03 01
            div 
                h1 359 
                p 05 01
            div 
                h1 360 
                p 07 01
            div 
                h1 361 
                p 09 01
            div 
                h1 362 
                p 11 02
            div 
                h1 363 
                p 13 02
            div  
                h1 352
                p 02 04
            div 
                h1 353 
                p 04 04
            div 
                h1 354 
                p 06 04
            div 
                h1 355 
                p 08 04
            div 
                h1 356 
                p 10 04
            div 
                h1 357 
                p 01 01
            div 
                h1 358 
                p 03 01
            div 
                h1 359 
                p 05 01
            div 
                h1 360 
                p 07 01
            div 
                h1 361 
                p 09 01
            div 
                h1 362 
                p 11 02
            div 
                h1 363 
                p 13 02
            div  
                h1 352
                p 02 04
            div 
                h1 353 
                p 04 04
            div 
                h1 354 
                p 06 04
            div 
                h1 355 
                p 08 04
            div 
                h1 356 
                p 10 04
            div 
                h1 357 
                p 01 01
            div 
                h1 358 
                p 03 01
            div 
                h1 359 
                p 05 01
            div 
                h1 360 
                p 07 01
            div 
                h1 361 
                p 09 01
            div 
                h1 362 
                p 11 02
            div 
                h1 363 
                p 13 02
            div 
                h1 355 
                p 08 04
            div 
                h1 356 
                p 10 04
            div 
                h1 357 
                p 01 01
            div 
                h1 358 
                p 03 01
            div 
                h1 359 
                p 05 01
            div 
                h1 360 
                p 07 01
            div 
                h1 361 
                p 09 01
            div 
                h1 362 
                p 11 02
            div 
                h1 363 
                p 13 02
            div  
                h1 352
                p 02 04
            div 
                h1 353 
                p 04 04
            div 
                h1 354 
                p 06 04
            div 
                h1 355 
                p 08 04
            div 
                h1 356 
                p 10 04
            div 
                h1 357 
                p 01 01
            div 
                h1 358 
                p 03 01
            div 
                h1 359 
                p 05 01
            div 
                h1 360 
                p 07 01
            div 
                h1 361 
                p 09 01
            div 
                h1 362 
                p 11 02
            div 
                h1 363 
                p 13 02